{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Users</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">communityUsers</th>
          </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.communityUsers}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}